.widget-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 16px;
  width: 480px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.search-input {
  height: 40px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 12px;
}

.imgWeather {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 25%;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
  margin: auto;
}

.paraf {
  font-size: 20px;
  font-weight: bold;
  color: #3c009d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
